/chemlab/utils/cdist.cpp
/chemlab/utils/cdist.c
/chemlab/graphics/renderers/utils.c
/chemlab/utils/celllinkedlist.html
/chemlab/utils/celllinkedlist.c
/chemlab/libs/ckdtree.c
/chemlab/libs/pyxdr/_xdrfile.c
*.pyc
build/
.emacs.desktop
chemlab.egg-info/
*~
dist/
distribute*
fontconfig/
.ropeproject
docs/_build
*.so
\#*
