include distribute_setup.py Makefile COPYING gpl.txt lgpl.txt MANIFEST.in requirements.txt

recursive-include chemlab *.dat *.txt *.json *.pxd *.vert *.frag
recursive-exclude __pycache__

include chemlab/libs/pyxdr/*.h
include chemlab/libs/pyxdr/*.pxd

graft chemlab/db/localdb
graft chemlab/resources
graft tests/data
graft docs
prune docs/_build
