include distribute_setup.py Makefile COPYING MANIFEST.in requirements.txt

recursive-include chemlab/graphics/renderers/shaders *.vert *.frag
recursive-include chemlab *.dat

include chemlab/libs/pyxdr/*.h
include chemlab/libs/pyxdr/*.pxd

graft chemlab/data
graft chemlab/resources
graft tests/data
graft docs
prune docs/_build
