{% extends "_base.html" %}
{% block content %}
    <div class="container">
      <div class="hero-unit">

	<img src="media/img/chemlab_logo.png" class="img-rounded pull-right" width="180"
             position="absolute"/>

	<h1 class="text-center">chemlab</h1>
	<p class="text-center">Chemistry has never been so easy</p>
	<p class="text-center">
	  <a class="btn btn-large btn-success"  
	     href="http://github.com/chemlab/chemlab">
	    Download<br/> <small><em>latest</em></small></a></p>

      </div> <!-- /container -->

      
      <div class="row">
	<div class="span4">
	  <h2>FUN</h2>
	  <p>With the included molecular viewer you can try out new things.</p>
	  
	  <img src="holder.js/400x400" />
	</div>
	
	<div class="span4">
	  <h2>FLEXIBLE</h2>
	  <p>Use the python programming language to build your
	  tools</p>
	  <img src="media/img/python-powered-h-140x182.png"/>
	</div>
	
	<div class="span4">
	  <h2>FREE</h2>
	  <p>This is a free and open source project, feel free to
	  interact with the community.</p>
	</div>
      </div>
      
      <hr/>
    
      <footer>Gabriele Lanaro 2013</footer>

    </div>
    {% endblock %}
