{% extends "_base.html" %}
{% block content %}
      <div class="hero-unit">
	<h1 class="text-center">chemlab</h1>
	<p class="text-center">The python chemistry package you were
	waiting for</p>
	<p class="text-center">
	  <a class="btn btn-large btn-success"  
	     href="https://pypi.python.org/packages/source/c/chemlab/chemlab-0.1.tar.gz">
	    <i class="icon-download icon-2x pull-left"></i> Download <br/> <small><em>Version 0.1</em></small></a>
           
	  <a class="btn btn-large btn-info"  
	     href="http://chemlab.readthedocs.org/en/latest/installation.html">
	    <i class="icon-beaker icon-2x pull-left"></i> Get
	    Started<br/><small><em>Docs</em></small></a>
	</p>
      </div> <!-- /hero-unit -->
      <div class="hero-separator"></div>

    <div class="container">
      
      <div class="row">
	<div class="span4">
	   <h2><i class="icon-screenshot"></i>
	     Molecular Viewer</h2>
	  <p>Built-in molecular viewer to quickly visualize your
	  systems.</p>
          <p>chemlab molecular viewer is fully programmable and you
          can include it in your PySide applications.</p>
	  <img src="media/img/licl.png" />
	</div>
	
	<div class="span4">
	  <h2><i class="icon-tasks"></i>
            Python Powered</h2>
	  <p>Built on the flexible, fast and well-tested scientific
	    python stack.</p>
          <br/>
	  <img src="media/img/logos_combined.png"/>
	</div>
	<div class="span4">
	  <h2><i class="icon-cogs"></i>
              Extensible</h2>
	  <p>Well documented and ready to get in. Write
          own <a href="https://chemlab.readthedocs.org/en/latest/graphics.html">renderers</a>
          and <a href="https://chemlab.readthedocs.org/en/latest/io.html">file
          handlers</a>. <a href="http://github.com/chemlab/chemlab">Partecipate</a> to the development!</p>
	</div>
      </div>
      <div class="row">
	<div class="span4">
	   <h2><i class="icon-beer"></i>
	     Free</h2>
	  <p>Free as in speech and as in beer. Do I need to say more?</p>
	  
	</div>
	
	<div class="span4">
	  <h2><i class="icon-dashboard"></i>
            Fast</h2>
	  <p>chemlab is based on the
	  gorgeous <a href="http://www.numpy.org">numpy</a> library. 
          This let you write fast code without leaving the python world.</p>
	</div>
	<div class="span4">
	  <h2><i class="icon-retweet"></i>
              Interoperable</h2>
	  <p>Designed to be interoperable with other common chemistry
	  packages. Check out
	  the <a href="https://chemlab.readthedocs.org/en/latest/api/chemlab.io.handlers.html">list
	  of supported file formats</a>.</p>
	</div>
      </div>
      
      <hr/>
    
      <footer>Gabriele Lanaro (2013) Icons
      by <a href="http://fortawesome.github.com/Font-Awesome/">FontAwesome</a></footer>

    </div>
    
    {% endblock %}
